# WordNet
pip install nltk

>>> import nltk
>>> nltk.download('punkt')
>>> nltk.download('averaged_perceptron_tagger')
>>> nltk.download('wordnet')

pip install matplotlib
pip install seaborn
pip install sklearn